:root {
    --chat-customer-body-font-family: "Inter-Regular", Helvetica;
    --chat-customer-body-font-size: 15px;
    --chat-customer-body-font-style: normal;
    --chat-customer-body-font-weight: 400;
    --chat-customer-body-letter-spacing: 0px;
    --chat-customer-body-line-height: 139.9999976158142%;
    --chat-message-stamp-font-family: "Inter-Regular", Helvetica;
    --chat-message-stamp-font-size: 13px;
    --chat-message-stamp-font-style: normal;
    --chat-message-stamp-font-weight: 400;
    --chat-message-stamp-letter-spacing: 0px;
    --chat-message-stamp-line-height: 120.00000476837158%;
    --chat-operator-body-font-family: "Inter-Regular", Helvetica;
    --chat-operator-body-font-size: 15px;
    --chat-operator-body-font-style: normal;
    --chat-operator-body-font-weight: 400;
    --chat-operator-body-letter-spacing: 0px;
    --chat-operator-body-line-height: 139.9999976158142%;
    --chat-operator-quick-reply-font-family: "Inter-Regular", Helvetica;
    --chat-operator-quick-reply-font-size: 15px;
    --chat-operator-quick-reply-font-style: normal;
    --chat-operator-quick-reply-font-weight: 400;
    --chat-operator-quick-reply-letter-spacing: 0px;
    --chat-operator-quick-reply-line-height: 20px;
    --chrome-bottom-icon: rgba(128, 133, 138, 1);
    --chrome-mobile-bg: rgba(255, 255, 255, 1);
    --chrome-mobile-field-bg: rgba(232, 234, 237, 1);
    --chrome-mobile-icon-bg: rgba(232, 234, 237, 1);
    --chrome-top-icon: rgba(154, 160, 166, 1);
    --chrome-top-url: rgba(32, 33, 36, 1);
    --chrome-top-url-icon: rgba(0, 0, 0, 1);
    --header-ai-label-font-family: "Inter-SemiBold", Helvetica;
    --header-ai-label-font-size: 15px;
    --header-ai-label-font-style: normal;
    --header-ai-label-font-weight: 600;
    --header-ai-label-letter-spacing: 0px;
    --header-ai-label-line-height: 135.0000023841858%;
    --header-hero-font-family: "Inter-SemiBold", Helvetica;
    --header-hero-font-size: 34px;
    --header-hero-font-style: normal;
    --header-hero-font-weight: 600;
    --header-hero-letter-spacing: 0px;
    --header-hero-line-height: 120.00000476837158%;
    --header-subtitle-font-family: "Inter-Regular", Helvetica;
    --header-subtitle-font-size: 14px;
    --header-subtitle-font-style: normal;
    --header-subtitle-font-weight: 400;
    --header-subtitle-letter-spacing: 0px;
    --header-subtitle-line-height: 18px;
    --header-title-font-family: "Inter-SemiBold", Helvetica;
    --header-title-font-size: 18px;
    --header-title-font-style: normal;
    --header-title-font-weight: 600;
    --header-title-letter-spacing: 0px;
    --header-title-line-height: 18px;
    --intercom-AI-avatar: rgba(255, 255, 255, 1);
    --intercom-AI-label-message: rgba(115, 115, 115, 1);
    --intercom-brand-main: rgba(48, 71, 236, 1);
    --intercom-header-body-text: rgba(248, 248, 248, 1);
    --intercom-header-icon: rgba(248, 248, 248, 1);
    --intercom-header-icon-bg: rgba(255, 255, 255, 1);
    --intercom-header-icon-text: rgba(48, 71, 236, 1);
    --intercom-header-title: rgba(248, 248, 248, 1);
    --intercom-message-frame-border-light: rgba(242, 242, 242, 1);
    --intercom-message-frame-conversation-bg: rgba(255, 255, 255, 1);
    --intercom-notification-accent: rgba(255, 57, 68, 1);
    --intercom-notification-border: rgba(255, 255, 255, 1);
    --intercom-notification-text: rgba(255, 255, 255, 1);
    --intercom-operator-message-bg: rgba(242, 242, 242, 1);
    --intercom-operator-message-text: rgba(0, 0, 0, 1);
    --intercom-operator-online: rgba(149, 207, 72, 1);
    --intercom-quick-reply-bg: rgba(229, 238, 255, 1);
    --intercom-quick-reply-text: rgba(1, 52, 153, 1);
    --intercom-reply-bg: rgba(255, 255, 255, 1);
    --intercom-reply-bg-mobile: rgba(250, 250, 250, 1);
    --intercom-reply-icons: rgba(143, 145, 149, 1);
    --intercom-reply-text-placeholder: rgba(115, 115, 118, 1);
    --intercom-reply-text-user: rgba(0, 0, 0, 1);
    --intercom-reply-user-icon: rgba(48, 52, 236, 1);
    --intercom-stamp-text: rgba(115, 115, 118, 1);
    --intercom-trigger-icon: rgba(255, 255, 255, 1);
    --intercom-user-bg: rgba(48, 71, 236, 1);
    --intercom-user-message-text: rgba(255, 255, 255, 1);
    --ios-home-indicator-dark: rgba(0, 0, 0, 1);
    --ios-home-indicator-light: rgba(255, 255, 255, 1);
    --ios-status-bar-dark: rgba(0, 0, 0, 1);
    --ios-status-bar-light: rgba(255, 255, 255, 1);
    --shadows-shadow-card: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
    --shadows-shadow-menu: 0px 0px 70px 0px rgba(0, 0, 0, 0.05);
    --shadows-shadow-widget: 5px 14px 80px 0px rgba(26, 26, 26, 0.12), 10px 10px 40px 0px rgba(0, 0, 0, 0.08);
    --tile-body-large-font-family: "Inter-Regular", Helvetica;
    --tile-body-large-font-size: 16px;
    --tile-body-large-font-style: normal;
    --tile-body-large-font-weight: 400;
    --tile-body-large-letter-spacing: 0px;
    --tile-body-large-line-height: 139.9999976158142%;
    --tile-body-normal-font-family: "Inter-Regular", Helvetica;
    --tile-body-normal-font-size: 15px;
    --tile-body-normal-font-style: normal;
    --tile-body-normal-font-weight: 400;
    --tile-body-normal-letter-spacing: 0px;
    --tile-body-normal-line-height: 139.9999976158142%;
    --tile-body-secundary-large-font-family: "Inter-Regular", Helvetica;
    --tile-body-secundary-large-font-size: 16px;
    --tile-body-secundary-large-font-style: normal;
    --tile-body-secundary-large-font-weight: 400;
    --tile-body-secundary-large-letter-spacing: 0px;
    --tile-body-secundary-large-line-height: 150%;
    --tile-body-secundary-normal-font-family: "Inter-Regular", Helvetica;
    --tile-body-secundary-normal-font-size: 15px;
    --tile-body-secundary-normal-font-style: normal;
    --tile-body-secundary-normal-font-weight: 400;
    --tile-body-secundary-normal-letter-spacing: 0px;
    --tile-body-secundary-normal-line-height: 120.00000476837158%;
    --tile-title-font-family: "Inter-SemiBold", Helvetica;
    --tile-title-font-size: 16px;
    --tile-title-font-style: normal;
    --tile-title-font-weight: 600;
    --tile-title-letter-spacing: 0px;
    --tile-title-line-height: 139.9999976158142%;
    --white: rgba(255, 255, 255, 1);
  }
  