.panel {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 715px;
}

.panel .panel-widget {
  align-items: flex-start;
  border-radius: 18px;
  box-shadow: var(--shadows-shadow-widget);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 715px;
}

.panel .header-instance {
  align-self: stretch !important;
  background-color: var(--news-operator-online) !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.panel .messages {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 206px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.panel .frame-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  margin-bottom: -34.39px;
  position: relative;
  width: 100%;
}

.panel .subheader {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.panel .frame-16 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.panel .frame-17 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  position: relative;
}

.panel .text-wrapper-22 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.panel .text-wrapper-23 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: #000000;
  display: -webkit-box;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.panel .frame-18 {
  flex: 0 0 auto;
  position: relative;
}

.panel .design-component-instance-node {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.panel .tile-instance {
  background-color: #95c839 !important;
  flex: 0 0 auto !important;
}

.panel .tile-2 {
  color: #ffffff !important;
}

.panel .tile-3 {
  flex: 0 0 auto !important;
}

.panel .nav-instance {
  color: var(--news-operator-online) !important;
}

/*Chat*/
/* General Styles for the Chat Container */
.chat-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%; /* Set width to 100% of its parent */
    max-width: none;
    margin: auto;
}

/* Chat Header */
.chat-header {
    background-color: #f0f2f5;
    border-bottom: 1px solid #e4e6eb;
    padding: 10px;
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username h3 {
    margin: 0;
    color: #050505;
}

/* Chat Messages */
.chat-messages {
    flex-grow: 1;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    display: flex;
}

.sended {
  align-items: flex-end!important;
}

.recieved {
    justify-content: flex-start;
}

.message .content {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 18px;
    color: white;
}

.sended .content {
    background-color: #95cf48ff;
}

.recieved .content {
    background-color: #e4e6eb;
    color: black;
}

/* Chat Input */
.chat-input {
    border-top: 1px solid #e4e6eb;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%; 
}

.input-emoji-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative; 
}

.input-emoji-container .input-container {
  width: 100%; 
  display: flex; 
  flex-grow: 1; 
  margin-right: 10px; 
}

.emoji {
  bottom: 100%; /* Position it above the input field */
  left: 0;
  z-index: 1; /* Higher z-index to float above other elements */
  cursor: pointer;
}

.emoji-icon {
  /* Styles for the emoji icon container */
  margin-right: 10px;
  /* Other styling as needed */
}

.emoji-picker {
  /* Absolute positioning for the emoji picker */
  position: absolute;
  bottom: 100%; /* Position it above the input field */
  left: 0;
  z-index: 10; /* Ensure it's above other elements */
  /* Additional styling as needed */
}

.chat-input input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 18px;
    margin-right: 10px;
    width: calc(100% - 20px); /* Subtract the width of the button and any margins */
}

.chat-input button {
    background-color: #95cf48ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #86b93bff;
}

/* Scrollbar Styles (Optional) */
.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ccd0d5;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: white;
}

.panel, .panel-widget {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Set a fixed height */
}

.panel .messages {
  overflow-y: auto; /* Remove independent scrolling */

}


/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 100%;
        max-width: none;
        border-radius: 0;
        box-shadow: none;
    }
}
